@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.1px;
}

*, *:before, *:after{
    box-sizing: border-box;
}

*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    outline:none;
    border:none;
    /* transition:all 0.3s; */
}

:root{
  --primary:#000;
  --secondary:rgb(24,24,27);
  --border:rgba(63,63,70,0.4);
  --title:rgb(244,244,245);
  --suptitle:rgb(161,161,170);
  --bgHeader:rgb(39,39,42);
  --blue:rgb(93,188,252);
  --container-padding:5rem;
  /* icon-hoverمتشابهه مع sup title */
  /* --icon-hover: #d4d4d8; */
}

.light{
  --primary:#fff;

}

body{
  background:var(--primary);
  /* transition:background 0.5s; */
  color:#fff
}

.container{
  border: 1px solid var(--border);
  width: 80%;
  margin: 0 auto;
  background-color: var(--secondary);
  padding:0 var(--container-padding);
  user-select: none;
}

    @media (max-width: 1200px) {
    .container {
      width: 90%;
      --container-padding:1.7rem;
    padding: 0 var(--container-padding);
  }
}

    @media (max-width: 500px) {
    .container {width: 98%;
    padding: 0 var(--container-padding);
  }
}

.divider{
  width: calc(100% +var(--container-padding) + var(--container-padding));
  border-bottom: 1px solid var(--border);
  /* border-bottom: 1px solid red; */
  margin: 3rem 0;
  margin-left: - var(--container-padding);
}


    @media (max-width: 1200px) {
  .divider{
  width: calc(100% + var(--container-padding) + var(--container-padding));
  margin-left: calc(var(--container-padding) * -1);
}}


a{
  color:initial;
      transition: 0.2s;
}

a:hover{
  cursor: pointer;
}

.flex{
  display: flex;
  align-items: center;
}

.border{
  border: 2px solid red;
}


button{
  all:unset
}

button:hover{
  cursor: pointer;
}

button:active{
  scale: 0.9;
}
